.react-autocomplete {
  width: 260px;
  position: relative; }

@-webkit-keyframes slide-down {
  0% {
    -webkit-transform: translate3d(8, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0); } }

@-moz-keyframes slide-down {
  0% {
    -moz-transform: translate3d(0, -9px, 0); }
  100% {
    -moz-transform: translate3d(0, 0, 0); } }

@-o-keyframes slide-down {
  0% {
    -o-transform: translate3d(0, -9px, 0); }
  100% {
    -o-transform: translate3d(0, 0, 0); } }

@keyframes slide-down {
  0% {
    transform: translate3d(0, -9px, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

.react-autocomplete input {
  background: #FFF;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #D9D8DD;
  border-radius: 5px;
  width: inherit;
  padding: 0 8px;
  color: #626166;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  transition: border-color 0.3s ease; }
  .react-autocomplete input::-webkit-input-placeholder {
    color: rgba(98, 97, 102, 0.5); }
  .react-autocomplete input::-moz-placeholder {
    color: rgba(98, 97, 102, 0.5); }
  .react-autocomplete input:-ms-input-placeholder {
    color: rgba(98, 97, 102, 0.5); }
  .react-autocomplete input:focus {
    outline: none;
    border-color: rgba(98, 97, 102, 0.5); }
  .react-autocomplete input.typeahead {
    background: transparent; }
  .react-autocomplete input[disabled] {
    color: rgba(98, 97, 102, 0.5);
    background: #FFF;
    border-color: transparent;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0; }

.react-autocomplete ul {
  background: transparent;
  border-radius: 0 0 5px 5px;
  top: 37px;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 999;
  left: 0;
  width: 100%; }

.react-autocomplete li {
  color: #626166;
  font-size: 14px;
  background: #FFF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-right: 1px solid #D9D8DD;
  border-left: 1px solid #D9D8DD;
  padding: 9px 5px;
  cursor: pointer;
  width: inherit;
  display: block;
  box-sizing: border-box;
  transition: background 0.3s ease;
  -webkit-animation: slide-down 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-animation: slide-down 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -o-animation: slide-down 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  animation: slide-down 0.8s cubic-bezier(0.19, 1, 0.22, 1); }
  .react-autocomplete li:first-child {
    border-top: 1px solid #D9D8DD; }
  .react-autocomplete li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid #D9D8DD; }
  .react-autocomplete li.active {
    background: #F1F1F1;
    color: #626166; }
  .react-autocomplete li mark {
    background: transparent;
    color: #000;
    font-weight: 700; }
